# MQTT
MQTT_PROTOCOL=mqtt
MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_USERNAME=replace_me
MQTT_PASSWORD=replace_me

# PostgreSQL
PSQL_HOST=127.0.0.1
PSQL_PORT=5432
PSQL_DB=gps_data
PSQL_USER=replace_me
PSQL_PASS=replace_me

# InfluxDB
INFLUX_HOST=127.0.0.1
INFLUX_PORT=8086
INFLUX_DB=ha
