# MQTT
MQTT_PROTOCOL=mqtt
MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_USERNAME=replace_me
MQTT_PASSWORD=replace_me
OWNTRACKS_BASE_TOPIC=owntracks
MQTT_DISCOVER_CMD_ENDPOINTS=true
OWNTRACKS_CMD_DEFAULT_PAYLOAD={"_type":"cmd","action":"reportLocation"}
OWNTRACKS_PRESET_CMD_ENDPOINTS=[{"topic":"owntracks/alana/alanaphone/cmd","payload":"{\"_type\":\"cmd\",\"action\":\"reportLocation\"}"},{"topic":"owntracks/josh/JPGraphene/cmd","payload":"{\"_type\":\"cmd\",\"action\":\"reportLocation\"}"},{"topic":"owntracks/lane/NLPGraphene/cmd","payload":"{\"_type\":\"cmd\",\"action\":\"reportLocation\"}"},{"topic":"owntracks/lisa/llp/cmd","payload":"{\"_type\":\"cmd\",\"action\":\"reportLocation\"}"}]

# PostgreSQL
PSQL_HOST=127.0.0.1
PSQL_PORT=5432
PSQL_DB=gps_data
PSQL_USER=replace_me
PSQL_PASS=replace_me

